<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
<a href="https://scholar.google.com/citations?user=14HASnUAAAAJ" itemprop="sameAs">
  <i class="ai fa-fw ai-google-scholar-square" aria-hidden="true"></i> Google Scholar Profile
</a>
</li>
<li>
<a href="https://research.fb.com/people/wang-tongzhou/" itemprop="sameAs">
  <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> FAIR Profile
</a>
</li>